<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Monster Slayer Game</title>
  </head>
  <body>
    <div>
      <header class="main-header">
        <h1>Monster Slayer</h1>
      </header>
      <div id="monster-slayer" class="container">
        <section id="monster">
          <h2>Monster Health</h2>
          <div class="healthbar">
            <div class="healthbar--value" :style="monsterHealthbarStyle">
              {{ monsterHealth }}
            </div>
          </div>
        </section>
        <section id="player">
          <h2>Player's Health</h2>
          <div class="healthbar">
            <div class="healthbar--value" :style="playerHealthbarStyle">
              {{ playerHealth }}
            </div>
          </div>
        </section>
        <section v-if="winner">
          <h2>Game over</h2>
          <h3 v-if="winner === 'Draw'">Draw</h3>
          <h3 v-if="winner === 'Player'">You won!</h3>
          <h3 v-if="winner === 'Monster'">Monster won</h3>
          <button @click="startGame" class="button">Start Again</button>
        </section>
        <section id="actions" v-if="winner === null">
          <button @click="playerAttack" class="button">Attack</button>
          <button
            @click="playerSuperAttack"
            :disabled="isSuperAttackAvailable"
            class="button"
          >
            Super Attack
          </button>
          <button @click="playerHeal" class="button">Heal</button>
          <button @click="surrender" class="button">Surrender</button>
        </section>
        <section id="combat-log">
          <ul></ul>
        </section>
      </div>
    </div>

    <script src="https://unpkg.com/vue@3"></script>
    <script src="app.js"></script>
  </body>
</html>
